* {
  box-sizing: border-box;
  font-family: Helvetica;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  background-image: linear-gradient(to right, #f7f3d1, #e79baa);
}

h1 {
  text-align: center;
  padding: 20px;
  margin-bottom: 20px;
}

/* Reset box styling */
.reset-box {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  height: 30px;
}

.reset-box .child {
  display: flex;
  max-width: 100%;
  border: none;
  justify-content: center;
  text-align: center;

}

#reset {
  padding: 10px 20px;
  background-color: #e74c3c;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
  width: 100%;
  font-size: 32px;

}

#reset:hover {
  background-color: #c0392b;
}

/* Game container */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

/* Game grid */
.container .child {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  gap: 10px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


/* Game buttons */
.button {
  height: 100px;
  width: 100px;
  background-color: white;
  border-radius: 5px;
  transition: transform 0.2s;
  /* Remove any display: none or visibility: hidden */
}

.button button {
  width: 100%;
  height: 100%;
  border: 1px solid #ddd;  /* Add a subtle border */
  background-color: white; /* Ensure button has a background */
  font-size: 2em;
  cursor: pointer;
  border-radius: 5px;
  display: block;  /* Ensure button is displayed */
}

.button:hover {
  transform: scale(1.02);
}

/* bottom page */

/* player names */
.player-name-container {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.playerNames {
  padding: 10px;
}